*{
    margin: 0;
    padding: 0;
}
.header-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(30, 30, 96);
    padding:10px 200px;
    border-bottom: 2px solid darkcyan;
}
.text-info > h2{
    color:white;
    font-weight: bold;
    font-size: 30px;
}
ul{
    display: flex;
}
ul>li{
    list-style: none;
    padding:6px 10px;
}
ul >li>a{
    font-weight: 900;
    color:white;
    font-size: 30px;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.5s;
}
ul>li>a:hover{
    background-color:rgb(21, 21, 43) ;
    color:red;
    border-radius: 5px;
}

/* hero area start */
.hero-area{
    background-image: url("/image/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    padding: 300px 0;
   
}
.hero-section{
    display: flex;
    justify-content: center;

}
.hero-section>.input-area >input{
     width: 500px;
     height: 30px;
     border-radius: 5px;
     padding: 10px;
     border: none;
     font-size: 15px;
}
.hero-section>.icon-tag{
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: green;
    border-radius: 5px;
    margin-left: -5px;
    cursor: pointer;
}