*{
    margin: 0;
    padding: 0;
}
.header-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(30, 30, 96);
    padding:10px 200px;
}
.text-info >h2{
    color:white;
    font-weight: bold;
    font-size: 30px;
}
ul{
    display: flex;
}
ul>li{
    list-style: none;
    padding:6px 10px;
}
ul >li>a{
    font-weight: 900;
    color:white;
    font-size: 30px;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.5s;
}
ul>li>a:hover{
    background-color:rgb(21, 21, 43) ;
    color:red;
    border-radius: 5px;
}